body {
	box-sizing:border-box;
	margin:0 auto;
	max-width:960px;
	padding:20px;
}

body * {
	box-sizing:border-box;
}

.ranks-box {
	border-bottom:1px solid #CCC;
	display:grid;
	grid-template-columns:30px 1fr 1fr 1fr 2fr;
}
